<!DOCTYPE html>
<html>
<title>EJ Finance</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style/css/bootstrap.min.css">
<link rel="stylesheet" href="style/css/bootstrap-theme.min.css">
<script src="style/js/bootstrap.min.js"></scri
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/crypto/crypto-core.js"></script>
<script src="controllers/ejFinanceMainCtrl.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey" ng-app="ejFinance" ng-controller="ejFinanceMainCtrl" ng-init="populateDateData()">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>Menu</button>
  <span class="w3-bar-item w3-right">EJ Finance</span>
</div>

<div class="w3-main" style="margin-left:300px;margin-top:10px;">
  <header class="w3-container" style="padding-top:40px">
    <h5><b><i class="fa fa-dashboard"></i> My Spending - {{thisMonth}}</b></h5>	
  </header>
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Expense for {{selectedcategory}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
			<div class="form-group">
				<label for="description">Date</label>
				<input type="date" class="form-control" id="date" placeholder="Enter Date" ng-model="date">    
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control input-lg" id="description" placeholder="Enter Description" ng-model="description" name="description" select-on-click>    
			</div>
			<div class="form-group">
				<label for="description">Amount</label>
				<input type="text" class="form-control input-lg" id="amount" placeholder="Enter Amount" ng-model="amount" select-on-click>    
			</div>
			<button type="button" class="btn btn-primary" ng-click="addExpense()">Add</button>
		</form>
		<br/>
		<table class="table">
			<tr>
				<th><input type="checkbox" ng-model="editEntries"/> Edit Mode</th>
				<th>Date</th>
				<th>Description</th>
				<th>Amount</th>
			</tr>
			<tr ng-repeat="transaction in selectedExpenseDetails">
				<th><input type="checkbox" ng-disabled="!editEntries" ng-model="transaction.selected"/></th>
				<td>{{transaction.expensedate}}</td>
				<td>{{transaction.name}}</td>
				<td>${{transaction.amount}}</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="passwordPromptModal" tabindex="-1" role="dialog" aria-labelledby="passwordPromptModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordPromptModalLabel">Enter password to retrieve data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
			<div class="form-group">
				<label for="passphrase">Password</label>
				<input type="text" class="form-control" id="passphrase" placeholder="Enter Password" ng-model="passphrase">    
			</div>
		</form>		
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="decryptURLsAndGetData()" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

  
<div class="w3-container w3-margin-bottom">
    <div class="w3-grey w3-margin-bottom">
      <div class="w3-container w3-center w3-orange" style="width:{{todayRatioInMonth}}%;height:10px;"></div>
    </div>	
	<div class="w3-grey">
      <div class="w3-container w3-center w3-indigo" style="width:{{totalSpendPercent}}%">${{totalExpenseForMonth}}</div>
    </div>
  </div>
  <div ng-init="showPasswordPromptModal()">
  
  <div class="w3-row-padding w3-margin-bottom" ng-repeat="(categoryKey, categoryValue) in categoryInfoArray">
    <div class="w3-quarter w3-margin-bottom" ng-click="showFileSelectionModal(categoryKey)">
	  <div class="w3-left"><i class="fa fa-{{categoryValue.iconName}} w3-xxlarge"></i><h4>{{categoryKey}}</h4></div>
	  <div class="w3-right"><h3>$ {{categoryValue.spendLimit-categoryValue.totalExpenseForMonth}}</h3></div>
	  <div class="w3-container w3-pale-red">
      </div>
	  <div class="w3-grey">
        <div class="w3-container w3-center w3-indigo" style="width:{{categoryValue.spendPercent}}%">${{categoryValue.totalExpenseForMonth}}</div>
	  </div>
	  <div class="w3-pale-yellow" style="height:10px">
        <div class="w3-orange" style="width:{{todayRatioInMonth}}%;height:10px"></div>
	  </div>
    </div>
	     
  </div>
</div>
  <div class="w3-container">
    <h5>Previous Months Spending</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Jan 2019</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>Dec 2018</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Nov 2018</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Oct 2018</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>Sep 2018</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>Aug 2018</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">Show older months <i class="fa fa-arrow-right"></i></button>
  </div>
  
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Future Use</h5>
        <p>--</p>
        
      </div>
      
    </div>
  </div>
</div>
</body>
</html>
